
@{
    ViewBag.Title = "Index";
}




<div class="card d-flex flex-row my-4 align-items-center">
    <img src="~/Content/assets/prodotti.jpg" class="card-img-top w-25" alt="Farmaci" />
    <div class="card-body">
        <h5 class="card-title">I Nostri Prodotti</h5>
        <p class="card-text">Visualizza la lista dei prodotti, aggiungine di nuovi o modifica i Prodotti già presenti in Magazzino! </p>
        @Html.ActionLink("Visualizza", "Index", "Prodotto", "", new { @class = "btn btn-custom" })
    </div>
</div>

<div class="card d-flex flex-row-reverse my-4 align-items-center">
    <img src="~/Content/assets/padrone.jpg" class="card-img-top w-50" alt="Vendita" />
    <div class="card-body">
        <h5 class="card-title">Animali In Cura</h5>
        <p class="card-text">Visualizza la lista di tutti gli animali che abbiamo trattato presso la nostra struttura</p>
        <a href="/Clinica/AnimaliList" class="btn btn-custom">Lista Animali</a>
    </div>
</div>

<div class="card d-flex flex-row my-4 align-items-center">
    <img src="~/Content/assets/vendita.jpg" class="card-img-top w-50" alt="Vendita" />
    <div class="card-body">
        <h5 class="card-title">Registra un nuovo cliente</h5>
        <p class="card-text">Registra i dati di un nuovo cliente!</p>
        @Html.ActionLink("Registra Cliente", "AddCliente","Cliente", "", new { @class = "btn btn-custom" })
    </div>
</div>

<div class="card d-flex flex-row-reverse my-4 align-items-center">
    <img src="~/Content/assets/cerca.jpg" class="card-img-top w-50" alt="Cerca" />
    <div class="card-body">
        <h3>Controlla il numero dei ricoveri attivi</h3>
        <div class="d-flex align-items-center gap-3">
            <input type="button" id="btnCerca" class="btn btn-success rounded-pill" value="Mostra" />
        </div>
        <p id="totNr" class="my-2"></p>
        <div id="risultatoRicerca">


        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCerca").click(function () {
                $.ajax({
                    method: 'GET',
                    url: '/Clinica/GetRicoveriAttivi',
                    success: function (data) {
                        $("#risultatoRicerca").empty();
                        $("#totNr").empty()
                        let counter= 0
                        $.each(data, function (i, q) {
                            counter++
                            var p = `<p>
                               Nome: <strong>${q.Nome}</strong>
                               Razza: <strong>${q.Razza}</strong>
                               </br>
                               Nr Microchip: <strong>${q.Microchip}</strong>
                               Data ricovero: <strong>${q.DataVisita}</strong>
                                </p>`
                            $("#risultatoRicerca").append(p);
                        });
                        $("#totNr").append("Numero totali ricoveri attivi: " + counter)
                    }
                })

            })

        })

    </script>
}
