
@{
    ViewBag.Title = "Index";
}

<h3>Ricerca animale per microchip</h3>
<input type="text" id="ChipNr" />
<input type="button" id="btnCerca" class="btn btn-success rounded-pill" value="Cerca" />

<div id="risultatoRicerca">
    
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCerca").click(function () {
                var ChipNr = $("#ChipNr").val();
                $.ajax({
                    method: 'POST',
                    url: 'GetAnimaleByChipNr',
                    data: { ChipNr: ChipNr },
                    success: function (data) {
                        $("#risultatoRicerca").empty();
                        console.log(data)
                        $.each(data, function (i, q) {
                            var p = `<p>
                               Nome: <strong>${q.Nome}</strong>
                               Razza: <strong>${q.Razza}</strong>
                               Colore: <strong>${q.Colore}</strong>
                               Nr Microchip: <strong>${q.Microchip}</strong>
                               <a href="/Clinica/AnimaleDetails/${q.IdAnimale}" class="btn btn-primary">Dettagli</a>
                                </p>`
                            $("#risultatoRicerca").append(p);
                        });
                    }
                })

            })
        
        })
        
    </script>
    }
