@{
        ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Index.css")
<div class="container">
    <h1 class="my-2">Benvenuto in CuraVet</h1>

    <div class="row align-items-center">
        <div class="col-md-3">
            <img src="~/Content/assets/Farmacia 1.jpeg"  alt="Farmacia 1" class="img-fluid mb-3">
        </div>
        <div class="col-md-6 my-4">
            <h2>Farmacia</h2>

            <p>
                La nostra farmacia offre una vasta gamma di prodotti farmaceutici di
                alta qualità e servizi personalizzati per soddisfare le tue esigenze di salute.
                Dal consiglio esperto sui farmaci alle offerte speciali, siamo qui per te.
                Scopri la comodità di ordinare i tuoi farmaci online e ritirarli in negozio
                o approfitta della consegna a domicilio.
                <br /> Accedi ora per esplorare
                il nostro assortimento e beneficiare dei servizi dedicati.
            </p>
            <a class="  btn btn-primary" href="Auth/Login">Accedi</a>
        </div>
        <div class="col-md-3">
            <img src="~/Content/assets/Farmacia 2.jpeg"  alt="Farmacia 1" class="img-fluid mb-3">
        </div>

        <div class="col-md-3">
            <img src="~/Content/assets/Cinica1.jpg" alt="Farmacia 1" class="img-fluid mb-3">
        </div>
        <div class="col-md-6 my-4">
            <h2>Clinica</h2>
            <p>
                La nostra clinica è il luogo dove ricevere cure mediche professionali e personalizzate.
                Il nostro team di medici esperti è pronto ad assisterti con diagnosi,
                trattamenti e consulenze mediche. Siamo dedicati al tuo benessere e alla tua salute.
                <br /> Accedi ora  per prenotare appuntamenti,
                consultare il profilo tuo profilo medico e ricevere informazioni dettagliate sui servizi medici che offriamo.
            </p>
            <a class="btn btn-primary" href="Auth/Login">Accedi</a>
        </div>
        <div class="col-md-3">
            <img src="~/Content/assets/Clinica2.jpg" alt="Farmacia 1" class="img-fluid mb-3">
        </div>
    </div>
</div>